     <p =id="notice"> <% if @book.errors.any? %>
    <%= @book.errors.count %>error prohibited this obj from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
   <% end %></p>
   <%= render partial: 'users/list', locals: { user: @user, book: Book.new } %>

    <div class="col-md-8 offset-md-1">
    <h2>Books</h2>
    <table class="table table-hover table-inverse">
     <thead>
      <tr>
       <th></th>
       <th>Title</th>
       <th>Opinion</th>
       <th colspan="3"></th>
      </tr>
     </thead>
     <tbody>
      <tr>

       <!--% @users.each do |user| %>-->
         <% @books.each do |book| %>
        <td>

            <%= link_to (book.user) do %>
               <% if book.user.profile_image.attached? %>
                <%= image_tag book.user.get_profile_image, size:"50x50" %>
               <% else %>
                <%= image_tag 'no_image', size: "50x50" %>
               <% end %>
              <% end %>
        </td>

       <td> <%= link_to book_path(book.id) do %>
             <%= book.title %>
            <% end %>
       </td>
       <td><%= book.body %></td>
       <td id="favorite_buttons_<%= book.id %>"><%= render "favorites/fav", book: book %></td>
       <td class="book-comments-counter"><% render 'book_comments/counter', book: book %></td>
      </tr>

       <% end %>
      </tbody>
    </table>
   </div>
  </div>
 </div>








  <!--%= form_with model:@book, url:'/books', method: :post, local:true do |f| %>
 <!--form_with model: @book, local:true do |f| %>-->
        <!--<h4>Title</h4>-->
        <!--%= f.text_field :title %>-->

        <!--<h4>Opinion</h4>-->
        <!--%= f.text_area :body %>-->

        <!--%= f.submit 'Create Book' %>-->
        <!--% end %>-->
  <!--<form action="/books" accept-charset="UTF-8" method="post">-->
       <!--<input name="utf8" type="hidden" value="✓">-->
       <!--<input type="hidden" name="authenticity_token" value="y6bVFulIifKvep8oy91RufIaLVuaCZEMIbPYNTMNIzLldIlvVyCIXoc2woxHvU2vv/sjxeywLvQK3axv9KSKCg==">-->
       <!-- <div class="form-group">-->
       <!--   <label for="book_title">Title</label>-->
       <!--    <input class="form-control book_title" type="text" name="book[title]" id="book_title">-->
       <!-- </div>-->
       <!-- <div class="form-group">-->
       <!--   <label for="book_opinion">Opinion</label>-->
       <!--   <textarea class="form-control book_body" name="book[body]" id="book_body"></textarea>-->
       <!-- </div>-->
       <!-- <div class="form-group">-->
       <!--   <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">-->
       <!-- </div>-->








